*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* header */
.box{
  min-width : 680px; 
  max-width : 200px;
  margin: 0 auto;
  
}
.container-1 input#search{
  min-width : 680px; 
  max-width : 200px;
  height : 26px;
  margin-top: 8px;
  background: #333333;
  border: 1px solid #464646 ;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 4px;
  box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 rgba(0,0,0,.08);
}

.container-1 input#search::-webkit-input-placeholder {
  color: white;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
  color: white;   
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
  color: white;    
}

.container-1 input#search:-ms-input-placeholder {  
  color: white;  
}

.App-link {
  color: #61dafb;
}

.container-1 .icon{
  position: absolute;
  top: -1%;
  margin-left: 665px;
  margin-top: 20px;
  z-index: 1;
  color: white;
}

body{
   background: #1a1d21;
   overflow:hidden;
}
